In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('DS.xlsx')

In [3]:
df.head()

,Student_ID,School_Year,Academic_Year,Student_Age,Student_Gender,Father_Nationality,Student_Computer,Student_Internet,Student_NumberEnrolments,Student_Responsible,...,SES%_Parish_FamilyNoClassicDwellings,SES%_Parish_CollectiveDwellings,SES%_Parish_IliteracyRate,SES%_Parish_PostSecondarySchoolingRate,SES%_Parish_PrimarySector,SES%_Parish_SecondarySector,SES%_Parish_UnemploymentRate,SubjectCod,Subject,FinalMark
0,1897972,2017/2018,12,18,F,1,False,False,1,Mãe,...,0.000577,0.0,0.0443,0.116152,0.007697,0.430432,0.1864,22306,Português,10.0
1,1898139,2017/2018,12,17,M,1,False,False,1,Mãe,...,0.000577,0.0,0.0443,0.116152,0.007697,0.430432,0.1864,22216,Língua Estrangeira I - Inglês,10.0
2,1900750,2017/2018,12,17,M,1,False,False,1,Mãe,...,0.000577,0.0,0.0443,0.116152,0.007697,0.430432,0.1864,22222,Língua Estrangeira III - Espanhol,19.0
3,1889914,2017/2018,12,17,F,1,False,False,1,Mãe,...,0.000577,0.0,0.0443,0.116152,0.007697,0.430432,0.1864,46105,Matemática A,10.0
4,1889914,2017/2018,12,17,F,1,False,False,1,Mãe,...,0.000577,0.0,0.0443,0.116152,0.007697,0.430432,0.1864,22306,Português,13.0

In [4]:
df.shape

(96348, 46)

df.columns
df.info()

In [5]:
df=df.astype({'School_Year': str})

## Academic_Year Dummies

In [6]:
df['Academic_Year'].unique()

array([12, 10, 11,  1], dtype=int64)

In [7]:
df=df[df.Academic_Year != 1]

In [8]:
df['Academic_Year'].unique()

array([12, 10, 11], dtype=int64)

In [9]:
ind_AcademicYear = pd.get_dummies(df['Academic_Year'], prefix='AcYear')

In [10]:
ind_AcademicYear.head()

   AcYear_10  AcYear_11  AcYear_12
0          0          0          1
1          0          0          1
2          0          0          1
3          0          0          1
4          0          0          1

In [11]:
ind_AcademicYear1 = ind_AcademicYear.drop('AcYear_10', axis=1)

In [12]:
df1 = pd.concat([ind_AcademicYear1, df], axis=1)

In [13]:
df=df1.drop('Academic_Year', axis=1)

df.info()

## Student Age : N_Retentions

In [14]:
df['Student_Age'].unique()

array([18, 17, 15, 16, 19, 14, 20, 21], dtype=int64)

In [15]:
df=df1
df['N_Retentions']=df.apply(lambda row:row.Student_Age - row.Academic_Year -5, axis=1)

df.info()

In [16]:
df['N_Retentions'].unique()

array([ 1,  0, -1,  2,  3,  4], dtype=int64)

In [17]:
df['N_Retentions']= df['N_Retentions'].replace(-1,0)

In [18]:
df['N_Retentions'].unique()

array([1, 0, 2, 3, 4], dtype=int64)

In [19]:
N_Retentions=df['N_Retentions'].unique()

In [20]:
print("Shape per number of retentions:\n")
for i in N_Retentions:
    Retention_i= df[df['N_Retentions']== i]
    print(i, '\t', Retention_i.shape)

Shape per number of retentions:

1 	 (12513, 49)
0 	 (81212, 49)
2 	 (2187, 49)
3 	 (356, 49)
4 	 (78, 49)

In [21]:
df=df.drop(['Academic_Year', 'Student_Age'], axis=1)

# Student_Gender Dummy

In [22]:
df['Student_Gender'].unique()

array(['F', 'M'], dtype=object)

In [23]:
ind_Student_Gender = pd.get_dummies(df['Student_Gender'], prefix='Std_Gender')

In [24]:
ind_Student_Gender.head()

   Std_Gender_F  Std_Gender_M
0             1             0
1             0             1
2             0             1
3             1             0
4             1             0

In [25]:
ind_Student_Gender1 = ind_Student_Gender.drop('Std_Gender_M', axis=1)

In [26]:
df1 = pd.concat([ind_Student_Gender1, df], axis=1)

In [27]:
df=df1.drop('Student_Gender', axis=1)

df.info()

# Father_Nationality Dummies

In [28]:
df['Father_Nationality'].unique()

array([1, 4, 3, 5, 6, 2, 7], dtype=int64)

In [29]:
Father_Nationality=df['Father_Nationality'].unique()
print("Shape per number of retentions:\n")
for i in Father_Nationality:
    Father_Nationality_i = df[df['Father_Nationality']== i]
    print(i, '\t', Father_Nationality_i.shape)

Shape per number of retentions:

1 	 (93315, 47)
4 	 (687, 47)
3 	 (1028, 47)
5 	 (601, 47)
6 	 (167, 47)
2 	 (469, 47)
7 	 (79, 47)

Nationality classes:
1	Portugal
2	Brasil
3	África
4	Europa Leste
5	Ocidente desenvolvido
6	China
7	Outros

In [30]:
df['Father_Nationality']= df['Father_Nationality'].replace([1, 2, 3, 4, 5, 6, 7],['PT', 'BR', 'AFR', 'EEUR',
                                                                                  'RICH', 'CHN', 'OTHERS'])
df['Father_Nationality'].unique()

array(['PT', 'EEUR', 'AFR', 'RICH', 'CHN', 'BR', 'OTHERS'], dtype=object)

In [31]:
ind_Father_Nationality = pd.get_dummies(df['Father_Nationality'], prefix='FTH_Nation')
ind_Father_Nationality.head()

,FTH_Nation_AFR,FTH_Nation_BR,FTH_Nation_CHN,FTH_Nation_EEUR,FTH_Nation_OTHERS,FTH_Nation_PT,FTH_Nation_RICH
0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0
3,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0

In [32]:
ind_Father_Nationality1 = ind_Father_Nationality.drop('FTH_Nation_PT', axis=1)
df1 = pd.concat([ind_Father_Nationality1, df], axis=1)
df=df1.drop('Father_Nationality', axis=1)

df.info()

# Student_Responsible Dummies

In [33]:
df['Student_Responsible'].unique()

array(['Mãe', 'Pai', 'Irmão', 'Próprio', 'Tia', 'Irmã', 'Avó', 'Avô',
       'Tio', 'Tutor', nan], dtype=object)

In [34]:
Student_Responsible=df['Student_Responsible'].unique()
print("Shape per number of responsibles:\n")
for i in Student_Responsible:
    Student_Responsible_i = df[df['Student_Responsible']== i]
    print(i, '\t', Student_Responsible_i.shape)

Shape per number of responsibles:

Mãe 	 (80135, 52)
Pai 	 (11782, 52)
Irmão 	 (151, 52)
Próprio 	 (2852, 52)
Tia 	 (333, 52)
Irmã 	 (277, 52)
Avó 	 (429, 52)
Avô 	 (256, 52)
Tio 	 (76, 52)
Tutor 	 (52, 52)
nan 	 (0, 52)

In [35]:
df['Student_Responsible']= df['Student_Responsible'].replace(['Mãe','Pai','Irmão', 'Próprio','Tia', 'Irmã', 'Avó', 'Avô',
                                                              'Tio', 'Tutor'],['Mother','Father','CloseRelative', 'Himself',
                                                                               'CloseRelative', 'CloseRelative',
                                                                               'CloseRelative', 'CloseRelative',
                                                              'CloseRelative', 'LegalResp'])
df['Student_Responsible'].unique()

array(['Mother', 'Father', 'CloseRelative', 'Himself', 'LegalResp', nan],
      dtype=object)

In [36]:
Student_Responsible=df['Student_Responsible'].unique()
print("Shape per number of responsibles:\n")
for i in Student_Responsible:
    Student_Responsible_i = df[df['Student_Responsible']== i]
    print(i, '\t', Student_Responsible_i.shape)

Shape per number of responsibles:

Mother 	 (80135, 52)
Father 	 (11782, 52)
CloseRelative 	 (1522, 52)
Himself 	 (2852, 52)
LegalResp 	 (52, 52)
nan 	 (0, 52)

In [37]:
df['Student_Responsible'] = df['Student_Responsible'].fillna('Mother')
df['Student_Responsible'].unique()

array(['Mother', 'Father', 'CloseRelative', 'Himself', 'LegalResp'],
      dtype=object)

In [38]:
ind_Student_Responsible = pd.get_dummies(df['Student_Responsible'], prefix='STD_Resp')
ind_Student_Responsible.head()

,STD_Resp_CloseRelative,STD_Resp_Father,STD_Resp_Himself,STD_Resp_LegalResp,STD_Resp_Mother
0,0,0,0,0,1
1,0,0,0,0,1
2,0,0,0,0,1
3,0,0,0,0,1
4,0,0,0,0,1

In [39]:
ind_Student_Responsible1 = ind_Student_Responsible.drop('STD_Resp_Mother', axis=1)
df1 = pd.concat([ind_Student_Responsible1, df], axis=1)
df=df1.drop('Student_Responsible', axis=1)

df.info()

# Boolean to dummy

Student_Computer;Student_Internet;Student_ActiveWorking; Student_Parish; Student_County;
Teacher_TemporaryReplacement;Teacher_EducationSupport

In [40]:
df['Student_Parish'].unique()

array([ True, False])

In [41]:
df.Student_Computer = df.Student_Computer.astype(np.uint8)
df.Student_Internet = df.Student_Internet.astype(np.uint8)

In [42]:
df['Student_Computer'].unique()

array([0, 1], dtype=uint8)

In [43]:
df.Student_ActiveWorking = df.Student_ActiveWorking.astype(np.uint8)
df.Student_Parish = df.Student_Parish.astype(np.uint8)
df.Student_County = df.Student_County.astype(np.uint8)
df.Teacher_TemporaryReplacement = df.Teacher_TemporaryReplacement.astype(np.uint8)
df.Teacher_EducationSupport = df.Teacher_EducationSupport.astype(np.uint8)

df.info()

# Teacher_Gender dummy

In [44]:
df['Teacher_Gender'].unique()

array(['F', 'M'], dtype=object)

In [45]:
ind_Teacher_Gender = pd.get_dummies(df['Teacher_Gender'], prefix='Tch_Gender')

In [46]:
ind_Teacher_Gender.head()

   Tch_Gender_F  Tch_Gender_M
0             1             0
1             1             0
2             1             0
3             1             0
4             1             0

In [47]:
ind_Teacher_Gender1 = ind_Teacher_Gender.drop('Tch_Gender_M', axis=1)

In [48]:
df1 = pd.concat([ind_Teacher_Gender1, df], axis=1)

In [49]:
df=df1.drop('Teacher_Gender', axis=1)

df.info()

# Teacher_Step dummies

In [50]:
df['Teacher_Step'].unique()

array([ 0,  6,  1, 10,  3,  9,  4,  7,  8,  5,  2], dtype=int64)

In [51]:
Teacher_Step=df['Teacher_Step'].unique()
print("Shape per number of steps:\n")
for i in Teacher_Step:
    Teacher_Step_i = df[df['Teacher_Step']== i]
    print(i, '\t', Teacher_Step_i.shape)

Shape per number of steps:

0 	 (33731, 55)
6 	 (6617, 55)
1 	 (968, 55)
10 	 (2138, 55)
3 	 (9324, 55)
9 	 (10237, 55)
4 	 (10154, 55)
7 	 (5323, 55)
8 	 (11016, 55)
5 	 (4143, 55)
2 	 (2695, 55)

In [52]:
df['Teacher_Step']= df['Teacher_Step'].replace([ 0,1,2,3,4,5,6,7,8,9,10],['WITHOUT','1234','1234', '1234',
                                                                               '1234', '567',
                                                                               '567', '567',
                                                              '8910', '8910', '8910'])
df['Teacher_Step'].unique()

array(['WITHOUT', '567', '1234', '8910'], dtype=object)

In [53]:
Teacher_Step=df['Teacher_Step'].unique()
print("Shape per number of steps:\n")
for i in Teacher_Step:
    Teacher_Step_i = df[df['Teacher_Step']== i]
    print(i, '\t', Teacher_Step_i.shape)

Shape per number of steps:

WITHOUT 	 (33731, 55)
567 	 (16083, 55)
1234 	 (23141, 55)
8910 	 (23391, 55)

In [54]:
ind_Teacher_Step = pd.get_dummies(df['Teacher_Step'], prefix='Tch_Step')

In [55]:
ind_Teacher_Step.head()

   Tch_Step_1234  Tch_Step_567  Tch_Step_8910  Tch_Step_WITHOUT
0              0             0              0                 1
1              0             1              0                 0
2              1             0              0                 0
3              0             0              0                 1
4              0             0              0                 1

In [56]:
ind_Teacher_Step1 = ind_Teacher_Step.drop('Tch_Step_WITHOUT', axis=1)
df1 = pd.concat([ind_Teacher_Step1, df], axis=1)

In [57]:
df=df1.drop('Teacher_Step', axis=1)

df.info()

Teacher_Age; Teacher_TeachingDedicatedTime; Teacher_NoTeachingDedicatedTime

In [58]:
df['Teacher_Age'].unique()

array([55, 53, 39, 54, 63, 59, 47, 58, 60, 48, 49, 52, 51, 61, 42, 57, 64,
       56, 50, 38, 62, 44, 37, 43, 40, 45, 41, 46, 65, 66, 34, 67, 36, 25,
       35, 32, 33, 26], dtype=int64)

In [59]:
df['Teacher_TeachingDedicatedTime'].unique()

array([16, 18,  8, 20, 14, 22, 12, 17,  4, 19, 21, 15,  6, 11, 13,  0,  3,
       10,  9,  5,  7,  2], dtype=int64)

In [60]:
df['Teacher_NoTeachingDedicatedTime'].unique()

array([ 6,  7,  9,  2, 10,  1, 11, 13,  3,  5,  8,  0,  4, 12, 18, 16, 15,
       17, 14, 40, 23, 21, 22, 19, 38, 36, 20], dtype=int64)

# Teacher_CodeAcademicEducation and Teacher_AcademicEducation dummies

In [61]:
df['Teacher_CodeAcademicEducation'].unique()

array([2, 1, 3, 4], dtype=int64)

In [62]:
df['Teacher_AcademicEducation'].unique()

array(['Licenciatura', 'Doutoramento/Mestrado', 'Bacharelato', 'Outra'],
      dtype=object)

In [63]:
Teacher_CodeAcademicEducation=df['Teacher_CodeAcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in Teacher_CodeAcademicEducation:
    Teacher_CodeAcademicEducation_i = df[df['Teacher_CodeAcademicEducation']== i]
    print(i, '\t', Teacher_CodeAcademicEducation_i.shape)

Teacher_AcademicEducation=df['Teacher_AcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in Teacher_AcademicEducation:
    Teacher_AcademicEducation_i = df[df['Teacher_AcademicEducation']== i]
    print(i, '\t', Teacher_AcademicEducation_i.shape)

Shape per number of steps:

2 	 (79418, 57)
1 	 (15577, 57)
3 	 (1027, 57)
4 	 (324, 57)
Shape per number of steps:

Licenciatura 	 (79418, 57)
Doutoramento/Mestrado 	 (15577, 57)
Bacharelato 	 (1027, 57)
Outra 	 (324, 57)

dummies block of code:
ind_Teacher_Step = pd.get_dummies(df['Teacher_Step'], prefix='Tch_Step')
ind_Teacher_Step.head()
ind_Teacher_Step1 = ind_Teacher_Step.drop('Tch_Step_WITHOUT', axis=1)
df1 = pd.concat([ind_Teacher_Step1, df], axis=1)
df=df1.drop('Teacher_Step', axis=1)
df.info()

In [64]:
df['Teacher_AcademicEducation']= df['Teacher_AcademicEducation'].replace([ 'Licenciatura','Doutoramento/Mestrado',
                                                                          'Bacharelato','Outra']
                                                                         ,['Degree','Phd_Master','Bachelor', 'Other'])
df['Teacher_AcademicEducation'].unique()

array(['Degree', 'Phd_Master', 'Bachelor', 'Other'], dtype=object)

In [65]:
ind_Teacher_AcademicEducation = pd.get_dummies(df['Teacher_AcademicEducation'], prefix='Tch_AcadEduc')
ind_Teacher_AcademicEducation.head()

,Tch_AcadEduc_Bachelor,Tch_AcadEduc_Degree,Tch_AcadEduc_Other,Tch_AcadEduc_Phd_Master
0,0,1,0,0
1,0,1,0,0
2,0,1,0,0
3,0,1,0,0
4,0,1,0,0

In [66]:
ind_Teacher_AcademicEducation1 = ind_Teacher_AcademicEducation.drop('Tch_AcadEduc_Degree', axis=1)
df1 = pd.concat([ind_Teacher_AcademicEducation1, df], axis=1)

In [67]:
df=df1.drop(['Teacher_AcademicEducation','Teacher_CodeAcademicEducation'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96346 entries, 0 to 96347
Data columns (total 58 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Tch_AcadEduc_Bachelor                     96346 non-null  uint8
 1   Tch_AcadEduc_Other                        96346 non-null  uint8
 2   Tch_AcadEduc_Phd_Master                   96346 non-null  uint8
 3   Tch_Step_1234                             96346 non-null  uint8
 4   Tch_Step_567                              96346 non-null  uint8
 5   Tch_Step_8910                             96346 non-null  uint8
 6   Tch_Gender_F                              96346 non-null  uint8
 7   STD_Resp_CloseRelative                    96346 non-null  uint8
 8   STD_Resp_Father                           96346 non-null  uint8
 9   STD_Resp_Himself                          96346 non-null  uint8
 10  STD_Resp_LegalResp                        96346 non-null  uint8
 11  FTH_Nation_AFR                            96346 non-null  uint8
 12  FTH_Nation_BR                             96346 non-null  uint8
 13  FTH_Nation_CHN                            96346 non-null  uint8
 14  FTH_Nation_EEUR                           96346 non-null  uint8
 15  FTH_Nation_OTHERS                         96346 non-null  uint8
 16  FTH_Nation_RICH                           96346 non-null  uint8
 17  Std_Gender_F                              96346 non-null  uint8
 18  AcYear_11                                 96346 non-null  uint8
 19  AcYear_12                                 96346 non-null  uint8
 20  Student_ID                                96346 non-null  int64
 21  School_Year                               96346 non-null  object
 22  Student_Computer                          96346 non-null  uint8
 23  Student_Internet                          96346 non-null  uint8
 24  Student_NumberEnrolments                  96346 non-null  int64
 25  Student_ActiveWorking                     96346 non-null  uint8
 26  Student_Parish                            96346 non-null  uint8
 27  Student_County                            96346 non-null  uint8
 28  Teacher_TemporaryReplacement              96346 non-null  uint8
 29  Teacher_EducationSupport                  96346 non-null  uint8
 30  Teacher_Age                               96346 non-null  int64
 31  Teacher_TeachingDedicatedTime             96346 non-null  int64
 32  Teacher_NoTeachingDedicatedTime           96346 non-null  int64
 33  Teacher_EducationSupportDedicatedTime     96346 non-null  int64
 34  Teacher_ProfessionalCategory              96346 non-null  object
 35  School_Size                               96346 non-null  int64
 36  Class_Size                                96346 non-null  int64
 37  SES_Scholarship                           96346 non-null  object
 38  SES_Mother_AcademicEducation              96346 non-null  object
 39  SES_Father_AcademicEducation              96346 non-null  object
 40  SES_StudentResponsible_AcademicEducation  96346 non-null  object
 41  SES_Mother_JobSituation                   96346 non-null  object
 42  SES_Father_JobSituation                   96346 non-null  object
 43  SES_StudentResponsible_JobSituation       96346 non-null  object
 44  SES_Father_ProfessionalClass              96346 non-null  int64
 45  SES_Mother_ProfessionalClass              96346 non-null  int64
 46  SES_StudentResponsible_ProfessionalClass  96346 non-null  int64
 47  SES%_Parish_FamilyNoClassicDwellings      96346 non-null  float64
 48  SES%_Parish_CollectiveDwellings           96346 non-null  float64
 49  SES%_Parish_IliteracyRate                 96346 non-null  float64
 50  SES%_Parish_PostSecondarySchoolingRate    96346 non-null  float64
 51  SES%_Parish_PrimarySector                 96346 non-null  float64
 52  SES%_Parish_SecondarySector               96346 non-null  float64
 53  SES%_Parish_UnemploymentRate              96346 non-null  float64
 54  SubjectCod                                96346 non-null  int64
 55  Subject                                   96346 non-null  object
 56  FinalMark                                 96346 non-null  float64
 57  N_Retentions                              96346 non-null  int64
dtypes: float64(8), int64(13), object(10), uint8(27)
memory usage: 26.0+ MB

# Teacher_ProfessionalCategory Dummies

In [68]:
df['Teacher_ProfessionalCategory'].unique()

array(['Quadro Agrupamento Definitivo', 'Quadro Escola Definitivo',
       'Contratado', 'Quadro QZP Definitivo', 'Quadro QZP Provisório',
       'Quadro Escola Provisório', 'Quadro Agrupamento Provisório'],
      dtype=object)

In [69]:
df['Teacher_ProfessionalCategory']= df['Teacher_ProfessionalCategory'].replace(['Quadro Agrupamento Definitivo',
                                                                                'Quadro Escola Definitivo', 'Contratado',
                                                                                'Quadro QZP Definitivo', 'Quadro QZP Provisório',
                                                                                'Quadro Escola Provisório',
                                                                                'Quadro Agrupamento Provisório'],
                                                                                ['SchoolClusterDefinitivePermanentStaff',
                                                                                 'SchoolDefinitivePermanentStaff','FixedTermStaff',
                                                                                 'PedagogicZoneDefinitivePermanentStaff',
                                                                                 'PedagogicZoneNoDefinitivePermanentStaff',
                                                                                 'SchoolNoDefinitivePermanentStaff',
                                                                                 'SchoolClusterNoDefinitivePermanentStaff'])
df['Teacher_ProfessionalCategory'].unique()

array(['SchoolClusterDefinitivePermanentStaff',
       'SchoolDefinitivePermanentStaff', 'FixedTermStaff',
       'PedagogicZoneDefinitivePermanentStaff',
       'PedagogicZoneNoDefinitivePermanentStaff',
       'SchoolNoDefinitivePermanentStaff',
       'SchoolClusterNoDefinitivePermanentStaff'], dtype=object)

In [70]:
# dummies block of code:
Teacher_ProfessionalCategory = pd.get_dummies(df['Teacher_ProfessionalCategory'], prefix='Tch')
Teacher_ProfessionalCategory.head()

,Tch_FixedTermStaff,Tch_PedagogicZoneDefinitivePermanentStaff,Tch_PedagogicZoneNoDefinitivePermanentStaff,Tch_SchoolClusterDefinitivePermanentStaff,Tch_SchoolClusterNoDefinitivePermanentStaff,Tch_SchoolDefinitivePermanentStaff,Tch_SchoolNoDefinitivePermanentStaff
0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0

Teacher_ProfessionalCategory=df['Teacher_ProfessionalCategory'].unique()
print("Shape per number of steps:\n")
for i in Teacher_ProfessionalCategory:
    Teacher_ProfessionalCategory_i = df[df['Teacher_ProfessionalCategory']== i]
    print(i, '\t', Teacher_ProfessionalCategory_i.shape)

In [71]:
Teacher_ProfessionalCategory1 = Teacher_ProfessionalCategory.drop('Tch_SchoolDefinitivePermanentStaff', axis=1)
df1 = pd.concat([Teacher_ProfessionalCategory1, df], axis=1)
df=df1.drop('Teacher_ProfessionalCategory', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96346 entries, 0 to 96347
Data columns (total 63 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Tch_FixedTermStaff                           96346 non-null  uint8
 1   Tch_PedagogicZoneDefinitivePermanentStaff    96346 non-null  uint8
 2   Tch_PedagogicZoneNoDefinitivePermanentStaff  96346 non-null  uint8
 3   Tch_SchoolClusterDefinitivePermanentStaff    96346 non-null  uint8
 4   Tch_SchoolClusterNoDefinitivePermanentStaff  96346 non-null  uint8
 5   Tch_SchoolNoDefinitivePermanentStaff         96346 non-null  uint8
 6   Tch_AcadEduc_Bachelor                        96346 non-null  uint8
 7   Tch_AcadEduc_Other                           96346 non-null  uint8
 8   Tch_AcadEduc_Phd_Master                      96346 non-null  uint8
 9   Tch_Step_1234                                96346 non-null  uint8
 10  Tch_Step_567                                 96346 non-null  uint8
 11  Tch_Step_8910                                96346 non-null  uint8
 12  Tch_Gender_F                                 96346 non-null  uint8
 13  STD_Resp_CloseRelative                       96346 non-null  uint8
 14  STD_Resp_Father                              96346 non-null  uint8
 15  STD_Resp_Himself                             96346 non-null  uint8
 16  STD_Resp_LegalResp                           96346 non-null  uint8
 17  FTH_Nation_AFR                               96346 non-null  uint8
 18  FTH_Nation_BR                                96346 non-null  uint8
 19  FTH_Nation_CHN                               96346 non-null  uint8
 20  FTH_Nation_EEUR                              96346 non-null  uint8
 21  FTH_Nation_OTHERS                            96346 non-null  uint8
 22  FTH_Nation_RICH                              96346 non-null  uint8
 23  Std_Gender_F                                 96346 non-null  uint8
 24  AcYear_11                                    96346 non-null  uint8
 25  AcYear_12                                    96346 non-null  uint8
 26  Student_ID                                   96346 non-null  int64
 27  School_Year                                  96346 non-null  object
 28  Student_Computer                             96346 non-null  uint8
 29  Student_Internet                             96346 non-null  uint8
 30  Student_NumberEnrolments                     96346 non-null  int64
 31  Student_ActiveWorking                        96346 non-null  uint8
 32  Student_Parish                               96346 non-null  uint8
 33  Student_County                               96346 non-null  uint8
 34  Teacher_TemporaryReplacement                 96346 non-null  uint8
 35  Teacher_EducationSupport                     96346 non-null  uint8
 36  Teacher_Age                                  96346 non-null  int64
 37  Teacher_TeachingDedicatedTime                96346 non-null  int64
 38  Teacher_NoTeachingDedicatedTime              96346 non-null  int64
 39  Teacher_EducationSupportDedicatedTime        96346 non-null  int64
 40  School_Size                                  96346 non-null  int64
 41  Class_Size                                   96346 non-null  int64
 42  SES_Scholarship                              96346 non-null  object
 43  SES_Mother_AcademicEducation                 96346 non-null  object
 44  SES_Father_AcademicEducation                 96346 non-null  object
 45  SES_StudentResponsible_AcademicEducation     96346 non-null  object
 46  SES_Mother_JobSituation                      96346 non-null  object
 47  SES_Father_JobSituation                      96346 non-null  object
 48  SES_StudentResponsible_JobSituation          96346 non-null  object
 49  SES_Father_ProfessionalClass                 96346 non-null  int64
 50  SES_Mother_ProfessionalClass                 96346 non-null  int64
 51  SES_StudentResponsible_ProfessionalClass     96346 non-null  int64
 52  SES%_Parish_FamilyNoClassicDwellings         96346 non-null  float64
 53  SES%_Parish_CollectiveDwellings              96346 non-null  float64
 54  SES%_Parish_IliteracyRate                    96346 non-null  float64
 55  SES%_Parish_PostSecondarySchoolingRate       96346 non-null  float64
 56  SES%_Parish_PrimarySector                    96346 non-null  float64
 57  SES%_Parish_SecondarySector                  96346 non-null  float64
 58  SES%_Parish_UnemploymentRate                 96346 non-null  float64
 59  SubjectCod                                   96346 non-null  int64
 60  Subject                                      96346 non-null  object
 61  FinalMark                                    96346 non-null  float64
 62  N_Retentions                                 96346 non-null  int64
dtypes: float64(8), int64(13), object(9), uint8(33)
memory usage: 25.8+ MB

# SES_Scholarship dummies

In [72]:
df['SES_Scholarship'].unique()

array(['Escalão B', 'Não Beneficia', 'Escalão A'], dtype=object)

In [73]:
SES_Scholarship=df['SES_Scholarship'].unique()
print("Shape per number of steps:\n")
for i in SES_Scholarship:
    SES_Scholarship_i = df[df['SES_Scholarship']== i]
    print(i, '\t', SES_Scholarship_i.shape)

Shape per number of steps:

Escalão B 	 (14239, 63)
Não Beneficia 	 (70387, 63)
Escalão A 	 (11720, 63)

In [74]:
# Escalão A: beneficio total; Escalão B 50% do Escalão A;
df['SES_Scholarship']= df['SES_Scholarship'].replace(['Escalão B', 'Não Beneficia','Escalão A'],
                                                     ['Half_Support', 'No_Support','Full_Support'])

In [75]:
SES_Scholarship=df['SES_Scholarship'].unique()
print("Shape per number of steps:\n")
for i in SES_Scholarship:
    SES_Scholarship_i = df[df['SES_Scholarship']== i]
    print(i, '\t', SES_Scholarship_i.shape)

Shape per number of steps:

Half_Support 	 (14239, 63)
No_Support 	 (70387, 63)
Full_Support 	 (11720, 63)

In [76]:
# dummies block of code:
SES_Scholarship = pd.get_dummies(df['SES_Scholarship'], prefix='SES_Scholarship')
SES_Scholarship.head()

,SES_Scholarship_Full_Support,SES_Scholarship_Half_Support,SES_Scholarship_No_Support
0,0,1,0
1,0,0,1
2,0,0,1
3,0,0,1
4,0,0,1

In [77]:
SES_Scholarship1 = SES_Scholarship.drop('SES_Scholarship_No_Support', axis=1)
df1 = pd.concat([SES_Scholarship1, df], axis=1)
df=df1.drop('SES_Scholarship', axis=1)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96346 entries, 0 to 96347
Data columns (total 64 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   SES_Scholarship_Full_Support                 96346 non-null  uint8
 1   SES_Scholarship_Half_Support                 96346 non-null  uint8
 2   Tch_FixedTermStaff                           96346 non-null  uint8
 3   Tch_PedagogicZoneDefinitivePermanentStaff    96346 non-null  uint8
 4   Tch_PedagogicZoneNoDefinitivePermanentStaff  96346 non-null  uint8
 5   Tch_SchoolClusterDefinitivePermanentStaff    96346 non-null  uint8
 6   Tch_SchoolClusterNoDefinitivePermanentStaff  96346 non-null  uint8
 7   Tch_SchoolNoDefinitivePermanentStaff         96346 non-null  uint8
 8   Tch_AcadEduc_Bachelor                        96346 non-null  uint8
 9   Tch_AcadEduc_Other                           96346 non-null  uint8
 10  Tch_AcadEduc_Phd_Master                      96346 non-null  uint8
 11  Tch_Step_1234                                96346 non-null  uint8
 12  Tch_Step_567                                 96346 non-null  uint8
 13  Tch_Step_8910                                96346 non-null  uint8
 14  Tch_Gender_F                                 96346 non-null  uint8
 15  STD_Resp_CloseRelative                       96346 non-null  uint8
 16  STD_Resp_Father                              96346 non-null  uint8
 17  STD_Resp_Himself                             96346 non-null  uint8
 18  STD_Resp_LegalResp                           96346 non-null  uint8
 19  FTH_Nation_AFR                               96346 non-null  uint8
 20  FTH_Nation_BR                                96346 non-null  uint8
 21  FTH_Nation_CHN                               96346 non-null  uint8
 22  FTH_Nation_EEUR                              96346 non-null  uint8
 23  FTH_Nation_OTHERS                            96346 non-null  uint8
 24  FTH_Nation_RICH                              96346 non-null  uint8
 25  Std_Gender_F                                 96346 non-null  uint8
 26  AcYear_11                                    96346 non-null  uint8
 27  AcYear_12                                    96346 non-null  uint8
 28  Student_ID                                   96346 non-null  int64
 29  School_Year                                  96346 non-null  object
 30  Student_Computer                             96346 non-null  uint8
 31  Student_Internet                             96346 non-null  uint8
 32  Student_NumberEnrolments                     96346 non-null  int64
 33  Student_ActiveWorking                        96346 non-null  uint8
 34  Student_Parish                               96346 non-null  uint8
 35  Student_County                               96346 non-null  uint8
 36  Teacher_TemporaryReplacement                 96346 non-null  uint8
 37  Teacher_EducationSupport                     96346 non-null  uint8
 38  Teacher_Age                                  96346 non-null  int64
 39  Teacher_TeachingDedicatedTime                96346 non-null  int64
 40  Teacher_NoTeachingDedicatedTime              96346 non-null  int64
 41  Teacher_EducationSupportDedicatedTime        96346 non-null  int64
 42  School_Size                                  96346 non-null  int64
 43  Class_Size                                   96346 non-null  int64
 44  SES_Mother_AcademicEducation                 96346 non-null  object
 45  SES_Father_AcademicEducation                 96346 non-null  object
 46  SES_StudentResponsible_AcademicEducation     96346 non-null  object
 47  SES_Mother_JobSituation                      96346 non-null  object
 48  SES_Father_JobSituation                      96346 non-null  object
 49  SES_StudentResponsible_JobSituation          96346 non-null  object
 50  SES_Father_ProfessionalClass                 96346 non-null  int64
 51  SES_Mother_ProfessionalClass                 96346 non-null  int64
 52  SES_StudentResponsible_ProfessionalClass     96346 non-null  int64
 53  SES%_Parish_FamilyNoClassicDwellings         96346 non-null  float64
 54  SES%_Parish_CollectiveDwellings              96346 non-null  float64
 55  SES%_Parish_IliteracyRate                    96346 non-null  float64
 56  SES%_Parish_PostSecondarySchoolingRate       96346 non-null  float64
 57  SES%_Parish_PrimarySector                    96346 non-null  float64
 58  SES%_Parish_SecondarySector                  96346 non-null  float64
 59  SES%_Parish_UnemploymentRate                 96346 non-null  float64
 60  SubjectCod                                   96346 non-null  int64
 61  Subject                                      96346 non-null  object
 62  FinalMark                                    96346 non-null  float64
 63  N_Retentions                                 96346 non-null  int64
dtypes: float64(8), int64(13), object(8), uint8(35)
memory usage: 25.3+ MB

# SES_Mother_AcademicEducation; SES_Father_AcademicEducation; SES_StudentResponsible_AcademicEducation dummies

In [79]:
Binarised_Features=['SES_Mother_AcademicEducation', 'SES_Father_AcademicEducation', 'SES_StudentResponsible_AcademicEducation']

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

SES_Mother_AcademicEducation 	 ['Básico (3º ciclo)' 'Formação Desconhecida' 'Licenciatura' 'Secundário'
 'Mestrado' 'Básico (2º ciclo)' 'Básico (1º ciclo)' 'Bacharelato'
 'Pós-graduação' 'Sem Habilitações' 'Outra' 'Doutoramento']
SES_Father_AcademicEducation 	 ['Básico (3º ciclo)' 'Formação Desconhecida' 'Licenciatura' 'Mestrado'
 'Secundário' 'Básico (2º ciclo)' 'Bacharelato' 'Básico (1º ciclo)'
 'Sem Habilitações' 'Pós-graduação' 'Doutoramento' 'Outra'
 'Formação desconhecida']
SES_StudentResponsible_AcademicEducation 	 ['Básico (3º ciclo)' 'Formação Desconhecida' 'Licenciatura' 'Secundário'
 'Mestrado' 'Básico (1º ciclo)' 'Básico (2º ciclo)' 'Bacharelato'
 'Sem Habilitações' 'Outra' 'Doutoramento' 'Pós-graduação']

In [80]:
SES_Mother_AcademicEducation=df['SES_Mother_AcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in SES_Mother_AcademicEducation:
    SES_Mother_AcademicEducation_i = df[df['SES_Mother_AcademicEducation']== i]
    print(i, '\t', SES_Mother_AcademicEducation_i.shape)
SES_Father_AcademicEducation=df['SES_Father_AcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in SES_Father_AcademicEducation:
    SES_Father_AcademicEducation_i = df[df['SES_Father_AcademicEducation']== i]
    print(i, '\t', SES_Father_AcademicEducation_i.shape)
SES_StudentResponsible_AcademicEducation=df['SES_StudentResponsible_AcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in SES_StudentResponsible_AcademicEducation:
    SES_StudentResponsible_AcademicEducation_i = df[df['SES_StudentResponsible_AcademicEducation']== i]
    print(i, '\t', SES_StudentResponsible_AcademicEducation_i.shape)

Shape per number of steps:

Básico (3º ciclo) 	 (14505, 64)
Formação Desconhecida 	 (17443, 64)
Licenciatura 	 (19183, 64)
Secundário 	 (22320, 64)
Mestrado 	 (1787, 64)
Básico (2º ciclo) 	 (11808, 64)
Básico (1º ciclo) 	 (4756, 64)
Bacharelato 	 (2260, 64)
Pós-graduação 	 (515, 64)
Sem Habilitações 	 (180, 64)
Outra 	 (988, 64)
Doutoramento 	 (601, 64)
Shape per number of steps:

Básico (3º ciclo) 	 (15448, 64)
Formação Desconhecida 	 (20061, 64)
Licenciatura 	 (12677, 64)
Mestrado 	 (1568, 64)
Secundário 	 (21459, 64)
Básico (2º ciclo) 	 (15018, 64)
Bacharelato 	 (1546, 64)
Básico (1º ciclo) 	 (6031, 64)
Sem Habilitações 	 (224, 64)
Pós-graduação 	 (458, 64)
Doutoramento 	 (726, 64)
Outra 	 (1129, 64)
Formação desconhecida 	 (1, 64)
Shape per number of steps:

Básico (3º ciclo) 	 (15843, 64)
Formação Desconhecida 	 (17450, 64)
Licenciatura 	 (18523, 64)
Secundário 	 (22466, 64)
Mestrado 	 (1822, 64)
Básico (1º ciclo) 	 (4311, 64)
Básico (2º ciclo) 	 (11066, 64)
Bacharelato 	 (2102, 64)
Sem Habilitações 	 (582, 64)
Outra 	 (969, 64)
Doutoramento 	 (694, 64)
Pós-graduação 	 (518, 64)

In [81]:
df['SES_Mother_AcademicEducation']= df['SES_Mother_AcademicEducation'].replace(['Básico (3º ciclo)', 'Formação Desconhecida',
                                                                                'Licenciatura', 'Secundário', 'Mestrado',
                                                                                'Básico (2º ciclo)', 'Básico (1º ciclo)',
                                                                                'Bacharelato', 'Pós-graduação',
                                                                                'Sem Habilitações', 'Outra','Doutoramento'],
                                                                                ['Basic_III', 'Unknown',
                                                                                'Degree', 'Secondary', 'Master',
                                                                                'Basic_II', 'Basic_I',
                                                                                'Bachelor', 'PostGraduation',
                                                                                'NoFormalEducation', 'Other','Phd'])

In [82]:
df['SES_Father_AcademicEducation']= df['SES_Father_AcademicEducation'].replace(['Básico (3º ciclo)', 'Formação Desconhecida',
                                                                                'Licenciatura', 'Mestrado', 'Secundário',
                                                                                'Básico (2º ciclo)', 'Bacharelato',
                                                                                'Básico (1º ciclo)', 'Sem Habilitações',
                                                                                'Pós-graduação', 'Doutoramento', 'Outra',
                                                                                'Formação desconhecida'],
                                                                                ['Basic_III', 'Unknown',
                                                                                'Degree', 'Master', 'Secondary',
                                                                                'Basic_II', 'Bachelor',
                                                                                'Basic_I', 'NoFormalEducation',
                                                                                 'PostGraduation', 'Phd' ,'Other', 'Unknown'])

In [83]:
df['SES_StudentResponsible_AcademicEducation']= df['SES_StudentResponsible_AcademicEducation'].replace(['Básico (3º ciclo)',
                                                                                                        'Formação Desconhecida',
                                                                                                        'Licenciatura',
                                                                                                        'Secundário',
                                                                                                        'Mestrado',
                                                                                                        'Básico (1º ciclo)',
                                                                                                        'Básico (2º ciclo)',
                                                                                                        'Bacharelato',
                                                                                                        'Sem Habilitações',
                                                                                                        'Outra',
                                                                                                        'Doutoramento',
                                                                                                        'Pós-graduação'],
                                                                                ['Basic_III', 'Unknown',
                                                                                'Degree', 'Secondary', 'Master',
                                                                                'Basic_I', 'Basic_II',
                                                                                'Bachelor', 'NoFormalEducation',
                                                                                'Other','Phd','PostGraduation'])

In [84]:
SES_Mother_AcademicEducation=df['SES_Mother_AcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in SES_Mother_AcademicEducation:
    SES_Mother_AcademicEducation_i = df[df['SES_Mother_AcademicEducation']== i]
    print(i, '\t', SES_Mother_AcademicEducation_i.shape)
SES_Father_AcademicEducation=df['SES_Father_AcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in SES_Father_AcademicEducation:
    SES_Father_AcademicEducation_i = df[df['SES_Father_AcademicEducation']== i]
    print(i, '\t', SES_Father_AcademicEducation_i.shape)
SES_StudentResponsible_AcademicEducation=df['SES_StudentResponsible_AcademicEducation'].unique()
print("Shape per number of steps:\n")
for i in SES_StudentResponsible_AcademicEducation:
    SES_StudentResponsible_AcademicEducation_i = df[df['SES_StudentResponsible_AcademicEducation']== i]
    print(i, '\t', SES_StudentResponsible_AcademicEducation_i.shape)

Shape per number of steps:

Basic_III 	 (14505, 64)
Unknown 	 (17443, 64)
Degree 	 (19183, 64)
Secondary 	 (22320, 64)
Master 	 (1787, 64)
Basic_II 	 (11808, 64)
Basic_I 	 (4756, 64)
Bachelor 	 (2260, 64)
PostGraduation 	 (515, 64)
NoFormalEducation 	 (180, 64)
Other 	 (988, 64)
Phd 	 (601, 64)
Shape per number of steps:

Basic_III 	 (15448, 64)
Unknown 	 (20062, 64)
Degree 	 (12677, 64)
Master 	 (1568, 64)
Secondary 	 (21459, 64)
Basic_II 	 (15018, 64)
Bachelor 	 (1546, 64)
Basic_I 	 (6031, 64)
NoFormalEducation 	 (224, 64)
PostGraduation 	 (458, 64)
Phd 	 (726, 64)
Other 	 (1129, 64)
Shape per number of steps:

Basic_III 	 (15843, 64)
Unknown 	 (17450, 64)
Degree 	 (18523, 64)
Secondary 	 (22466, 64)
Master 	 (1822, 64)
Basic_I 	 (4311, 64)
Basic_II 	 (11066, 64)
Bachelor 	 (2102, 64)
NoFormalEducation 	 (582, 64)
Other 	 (969, 64)
Phd 	 (694, 64)
PostGraduation 	 (518, 64)

dummies block of code:
ind_Teacher_Step = pd.get_dummies(df['Teacher_Step'], prefix='Tch_Step')
ind_Teacher_Step.head()
ind_Teacher_Step1 = ind_Teacher_Step.drop('Tch_Step_WITHOUT', axis=1)
df1 = pd.concat([ind_Teacher_Step1, df], axis=1)
df=df1.drop('Teacher_Step', axis=1)
df.info()

In [85]:
ind_SES_Mother_AcademicEducation = pd.get_dummies(df['SES_Mother_AcademicEducation'], prefix='SES_MOTH_AcadEduc')
ind_SES_Mother_AcademicEducation.head()

,SES_MOTH_AcadEduc_Bachelor,SES_MOTH_AcadEduc_Basic_I,SES_MOTH_AcadEduc_Basic_II,SES_MOTH_AcadEduc_Basic_III,SES_MOTH_AcadEduc_Degree,SES_MOTH_AcadEduc_Master,SES_MOTH_AcadEduc_NoFormalEducation,SES_MOTH_AcadEduc_Other,SES_MOTH_AcadEduc_Phd,SES_MOTH_AcadEduc_PostGraduation,SES_MOTH_AcadEduc_Secondary,SES_MOTH_AcadEduc_Unknown
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,1

In [86]:
ind_SES_Mother_AcademicEducation1 = ind_SES_Mother_AcademicEducation.drop('SES_MOTH_AcadEduc_Secondary', axis=1)
df1 = pd.concat([ind_SES_Mother_AcademicEducation1, df], axis=1)
df=df1.drop('SES_Mother_AcademicEducation', axis=1)

In [87]:
ind_SES_Father_AcademicEducation = pd.get_dummies(df['SES_Father_AcademicEducation'], prefix='SES_FATH_AcadEduc')
ind_SES_Father_AcademicEducation.head()

,SES_FATH_AcadEduc_Bachelor,SES_FATH_AcadEduc_Basic_I,SES_FATH_AcadEduc_Basic_II,SES_FATH_AcadEduc_Basic_III,SES_FATH_AcadEduc_Degree,SES_FATH_AcadEduc_Master,SES_FATH_AcadEduc_NoFormalEducation,SES_FATH_AcadEduc_Other,SES_FATH_AcadEduc_Phd,SES_FATH_AcadEduc_PostGraduation,SES_FATH_AcadEduc_Secondary,SES_FATH_AcadEduc_Unknown
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,1

In [88]:
ind_SES_Father_AcademicEducation1 = ind_SES_Father_AcademicEducation.drop('SES_FATH_AcadEduc_Secondary', axis=1)
df1 = pd.concat([ind_SES_Father_AcademicEducation1, df], axis=1)
df=df1.drop('SES_Father_AcademicEducation', axis=1)

In [89]:
ind_SES_StudentResponsible_AcademicEducation = pd.get_dummies(df['SES_StudentResponsible_AcademicEducation'], prefix='SES_STDRESP_AcadEduc')
ind_SES_StudentResponsible_AcademicEducation.head()

,SES_STDRESP_AcadEduc_Bachelor,SES_STDRESP_AcadEduc_Basic_I,SES_STDRESP_AcadEduc_Basic_II,SES_STDRESP_AcadEduc_Basic_III,SES_STDRESP_AcadEduc_Degree,SES_STDRESP_AcadEduc_Master,SES_STDRESP_AcadEduc_NoFormalEducation,SES_STDRESP_AcadEduc_Other,SES_STDRESP_AcadEduc_Phd,SES_STDRESP_AcadEduc_PostGraduation,SES_STDRESP_AcadEduc_Secondary,SES_STDRESP_AcadEduc_Unknown
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,1

In [90]:
ind_SES_StudentResponsible_AcademicEducation1 = ind_SES_StudentResponsible_AcademicEducation.drop('SES_STDRESP_AcadEduc_Secondary', axis=1)
df1 = pd.concat([ind_SES_StudentResponsible_AcademicEducation1, df], axis=1)
df=df1.drop('SES_StudentResponsible_AcademicEducation', axis=1)

df.info()

# SES_Mother_JobSituation, SES_Father_JobSituation and SES_StudentResponsible_JobSituation dummies

In [91]:
SES_Mother_JobSituation=df['SES_Mother_JobSituation'].unique()
print("Shape per number of steps:\n")
for i in SES_Mother_JobSituation:
    SES_Mother_JobSituation_i = df[df['SES_Mother_JobSituation']== i]
    print(i, '\t', SES_Mother_JobSituation_i.shape)
    
SES_Father_JobSituation=df['SES_Father_JobSituation'].unique()
print("Shape per number of steps:\n")
for i in SES_Father_JobSituation:
    SES_Father_JobSituation_i = df[df['SES_Father_JobSituation']== i]
    print(i, '\t', SES_Father_JobSituation_i.shape)
    
SES_StudentResponsible_JobSituation=df['SES_StudentResponsible_JobSituation'].unique()
print("Shape per number of steps:\n")
for i in SES_StudentResponsible_JobSituation:
    SES_StudentResponsible_JobSituation_i = df[df['SES_StudentResponsible_JobSituation']== i]
    print(i, '\t', SES_StudentResponsible_JobSituation_i.shape)

Shape per number of steps:

Trabalhador por conta própria como isolado 	 (4814, 94)
Trabalhador por conta de outrem 	 (55405, 94)
Situação Desconhecida 	 (18220, 94)
Doméstico 	 (7214, 94)
Desempregado 	 (7576, 94)
Trabalhador por conta própria como empregador 	 (1897, 94)
Reformado 	 (485, 94)
Outra 	 (606, 94)
Estudante 	 (129, 94)
Shape per number of steps:

Trabalhador por conta de outrem 	 (55560, 94)
Situação Desconhecida 	 (21505, 94)
Trabalhador por conta própria como isolado 	 (8070, 94)
Trabalhador por conta própria como empregador 	 (3961, 94)
Reformado 	 (1440, 94)
Desempregado 	 (4944, 94)
Outra 	 (675, 94)
Doméstico 	 (130, 94)
Estudante 	 (61, 94)
Shape per number of steps:

Trabalhador por conta própria como isolado 	 (5144, 94)
Trabalhador por conta de outrem 	 (53931, 94)
Situação Desconhecida 	 (18100, 94)
Doméstico 	 (6016, 94)
Desempregado 	 (6966, 94)
Trabalhador por conta própria como empregador 	 (2138, 94)
Reformado 	 (1146, 94)
Estudante 	 (2326, 94)
Outra 	 (579, 94)

In [92]:
Binarised_Features=['SES_Mother_JobSituation', 'SES_Father_JobSituation', 'SES_StudentResponsible_JobSituation']

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

SES_Mother_JobSituation 	 ['Trabalhador por conta própria como isolado'
 'Trabalhador por conta de outrem' 'Situação Desconhecida' 'Doméstico'
 'Desempregado' 'Trabalhador por conta própria como empregador'
 'Reformado' 'Outra' 'Estudante']
SES_Father_JobSituation 	 ['Trabalhador por conta de outrem' 'Situação Desconhecida'
 'Trabalhador por conta própria como isolado'
 'Trabalhador por conta própria como empregador' 'Reformado'
 'Desempregado' 'Outra' 'Doméstico' 'Estudante']
SES_StudentResponsible_JobSituation 	 ['Trabalhador por conta própria como isolado'
 'Trabalhador por conta de outrem' 'Situação Desconhecida' 'Doméstico'
 'Desempregado' 'Trabalhador por conta própria como empregador'
 'Reformado' 'Estudante' 'Outra']

In [93]:
df1=df
df['SES_Mother_JobSituation']= df['SES_Mother_JobSituation'].replace(['Trabalhador por conta própria como isolado', 
                                                                      'Trabalhador por conta de outrem',
                                                                      'Situação Desconhecida',
                                                                      'Doméstico', 'Desempregado',
                                                                      'Trabalhador por conta própria como empregador',
                                                                      'Reformado','Outra', 'Estudante'],
                                                                      ['SelfEmployed',
                                                                       'Employee',
                                                                       'Unknown',
                                                                       'HomeAffairs', 'Unemployed',
                                                                       'Employer',
                                                                       'Retired', 'Other', 'Student'])
df['SES_Father_JobSituation']= df['SES_Father_JobSituation'].replace(['Trabalhador por conta própria como isolado', 
                                                                      'Trabalhador por conta de outrem',
                                                                      'Situação Desconhecida',
                                                                      'Doméstico', 'Desempregado',
                                                                      'Trabalhador por conta própria como empregador',
                                                                      'Reformado','Outra', 'Estudante'],
                                                                      ['SelfEmployed',
                                                                       'Employee',
                                                                       'Unknown',
                                                                       'HomeAffairs', 'Unemployed',
                                                                       'Employer',
                                                                       'Retired', 'Other', 'Student'])
df['SES_StudentResponsible_JobSituation']= df['SES_StudentResponsible_JobSituation'].replace(['Trabalhador por conta própria como isolado', 
                                                                      'Trabalhador por conta de outrem',
                                                                      'Situação Desconhecida',
                                                                      'Doméstico', 'Desempregado',
                                                                      'Trabalhador por conta própria como empregador',
                                                                      'Reformado','Outra', 'Estudante'],
                                                                      ['SelfEmployed',
                                                                       'Employee',
                                                                       'Unknown',
                                                                       'HomeAffairs', 'Unemployed',
                                                                       'Employer',
                                                                       'Retired', 'Other', 'Student'])

Binarised_Features=['SES_Mother_JobSituation', 'SES_Father_JobSituation', 'SES_StudentResponsible_JobSituation']

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df[i].unique()
    print(i, '\t', HE_i)

In [94]:
ind_SES_Mother_JobSituation = pd.get_dummies(df['SES_Mother_JobSituation'], prefix='SES_MOTH_JobSit')
ind_SES_Mother_JobSituation.head()

,SES_MOTH_JobSit_Employee,SES_MOTH_JobSit_Employer,SES_MOTH_JobSit_HomeAffairs,SES_MOTH_JobSit_Other,SES_MOTH_JobSit_Retired,SES_MOTH_JobSit_SelfEmployed,SES_MOTH_JobSit_Student,SES_MOTH_JobSit_Unemployed,SES_MOTH_JobSit_Unknown
0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,1

In [95]:
ind_SES_Mother_JobSituation1 = ind_SES_Mother_JobSituation.drop('SES_MOTH_JobSit_Employee', axis=1)
df1 = pd.concat([ind_SES_Mother_JobSituation1, df], axis=1)
df=df1.drop('SES_Mother_JobSituation', axis=1)

In [96]:
ind_SES_Father_JobSituation = pd.get_dummies(df['SES_Father_JobSituation'], prefix='SES_FATH_JobSit')
ind_SES_Father_JobSituation1 = ind_SES_Father_JobSituation.drop('SES_FATH_JobSit_Employee', axis=1)
df1 = pd.concat([ind_SES_Father_JobSituation1, df], axis=1)
df=df1.drop('SES_Father_JobSituation', axis=1)

In [97]:
ind_SES_StudentResponsible_JobSituation = pd.get_dummies(df['SES_StudentResponsible_JobSituation'], prefix='SES_STDRESP_JobSit')
ind_SES_StudentResponsible_JobSituation1 = ind_SES_StudentResponsible_JobSituation.drop('SES_STDRESP_JobSit_Employee', axis=1)
df1 = pd.concat([ind_SES_StudentResponsible_JobSituation1, df], axis=1)
df=df1.drop('SES_StudentResponsible_JobSituation', axis=1)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96346 entries, 0 to 96347
Columns: 115 entries, SES_STDRESP_JobSit_Employer to N_Retentions
dtypes: float64(8), int64(13), object(2), uint8(92)
memory usage: 26.1+ MB

df.info(max_cols=200)

In [99]:
df.columns

Index(['SES_STDRESP_JobSit_Employer', 'SES_STDRESP_JobSit_HomeAffairs',
       'SES_STDRESP_JobSit_Other', 'SES_STDRESP_JobSit_Retired',
       'SES_STDRESP_JobSit_SelfEmployed', 'SES_STDRESP_JobSit_Student',
       'SES_STDRESP_JobSit_Unemployed', 'SES_STDRESP_JobSit_Unknown',
       'SES_FATH_JobSit_Employer', 'SES_FATH_JobSit_HomeAffairs',
       ...
       'SES%_Parish_CollectiveDwellings', 'SES%_Parish_IliteracyRate',
       'SES%_Parish_PostSecondarySchoolingRate', 'SES%_Parish_PrimarySector',
       'SES%_Parish_SecondarySector', 'SES%_Parish_UnemploymentRate',
       'SubjectCod', 'Subject', 'FinalMark', 'N_Retentions'],
      dtype='object', length=115)

# SES_Father_ProfessionalClass, SES_Mother_ProfessionalClass and SES_StudentResponsible_ProfessionalClass

In [100]:
Binarised_Features=['SES_Father_ProfessionalClass', 'SES_Mother_ProfessionalClass']

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

SES_Father_ProfessionalClass 	 [2 0 4 3 1]
SES_Mother_ProfessionalClass 	 [2 1 0 4 3]

Professional classes per level of competence:
4-University II
3-University I
2-Basic II to Secondary
1-Basic I
0-Unknown

In [101]:
df1=df
df['SES_Mother_ProfessionalClass']= df['SES_Mother_ProfessionalClass'].replace([0,1,2,3,4],
                                                                      ['Unknown_NoProfession','BasicI', 'BasicII_Secondary',
                                                                       'UnivI', 'UnivII'])
df['SES_Father_ProfessionalClass']= df['SES_Father_ProfessionalClass'].replace([0,1,2,3,4],
                                                                      ['Unknown_NoProfession','BasicI', 'BasicII_Secondary',
                                                                       'UnivI', 'UnivII'])

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

SES_Father_ProfessionalClass 	 ['BasicII_Secondary' 'Unknown_NoProfession' 'UnivII' 'UnivI' 'BasicI']
SES_Mother_ProfessionalClass 	 ['BasicII_Secondary' 'BasicI' 'Unknown_NoProfession' 'UnivII' 'UnivI']

In [102]:
ind_SES_Mother_ProfessionalClass = pd.get_dummies(df['SES_Mother_ProfessionalClass'], prefix='SES_MOTH_ProfClass')
ind_SES_Mother_ProfessionalClass.head()

,SES_MOTH_ProfClass_BasicI,SES_MOTH_ProfClass_BasicII_Secondary,SES_MOTH_ProfClass_UnivI,SES_MOTH_ProfClass_UnivII,SES_MOTH_ProfClass_Unknown_NoProfession
0,0,1,0,0,0
1,1,0,0,0,0
2,0,0,0,0,1
3,0,0,0,0,1
4,0,0,0,0,1

In [103]:
ind_SES_Mother_ProfessionalClass1 = ind_SES_Mother_ProfessionalClass.drop('SES_MOTH_ProfClass_BasicII_Secondary', axis=1)
df1 = pd.concat([ind_SES_Mother_ProfessionalClass1, df], axis=1)
df=df1.drop('SES_Mother_ProfessionalClass', axis=1)

In [104]:
ind_SES_Father_ProfessionalClass = pd.get_dummies(df['SES_Father_ProfessionalClass'], prefix='SES_FATH_ProfClass')
ind_SES_Father_ProfessionalClass1 = ind_SES_Father_ProfessionalClass.drop('SES_FATH_ProfClass_BasicII_Secondary', axis=1)
df1 = pd.concat([ind_SES_Father_ProfessionalClass1, df], axis=1)
df=df1.drop('SES_Father_ProfessionalClass', axis=1)

df.info(max_cols=200)

In [105]:
df['SES_StudentResponsible_ProfessionalClass'].unique()

array([2, 1, 0, 4, 3], dtype=int64)

In [106]:
df1=df
df['SES_StudentResponsible_ProfessionalClass']= df['SES_StudentResponsible_ProfessionalClass'].replace([0,1,2,3,4],
                                                                      ['Unknown_NoProfession','BasicI', 'BasicII_Secondary',
                                                                       'UnivI', 'UnivII'])

In [107]:
ind_SES_StudentResponsible_ProfessionalClass = pd.get_dummies(df['SES_StudentResponsible_ProfessionalClass'], prefix='SES_STDRESP_ProfClass')
ind_SES_StudentResponsible_ProfessionalClass1 = ind_SES_StudentResponsible_ProfessionalClass.drop('SES_STDRESP_ProfClass_BasicII_Secondary', axis=1)
df1 = pd.concat([ind_SES_StudentResponsible_ProfessionalClass1, df], axis=1)
df=df1.drop('SES_StudentResponsible_ProfessionalClass', axis=1)

df.info(max_cols=200)

# SubjectCod and Subject dummies

In [108]:
Binarised_Features=['SubjectCod', 'Subject']

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

SubjectCod 	 [22306 22216 22222 46105 22502 21004 22601 42102 44003 31403 22503 46102
 46108 44304 22304 46107 22224 22215 22220 22218 22309 22221 22219 22227]
Subject 	 ['Português' 'Língua Estrangeira I - Inglês'
 'Língua Estrangeira III - Espanhol' 'Matemática A' 'História A'
 'Desenho A' 'Filosofia' 'Biologia e Geologia' 'Física e Química A'
 'Economia A' 'História B' 'Geometria Descritiva A' 'Matemática B'
 'Geografia A' 'Literatura Portuguesa'
 'Matemática Aplicada às Ciências Sociais'
 'Língua Estrangeira III - Inglês' 'Língua Estrangeira I - Francês'
 'Língua Estrangeira II - Inglês' 'Língua Estrangeira II - Espanhol'
 'Português Língua Não Materna' 'Língua Estrangeira III - Alemão'
 'Língua Estrangeira II - Francês' 'Inglês']

In [109]:
df1=df
df['Subject']= df['Subject'].replace(['Português', 'Língua Estrangeira I - Inglês', 'Língua Estrangeira III - Espanhol',
                                      'Matemática A', 'História A', 'Desenho A', 'Filosofia', 'Biologia e Geologia',
                                      'Física e Química A', 'Economia A', 'História B', 'Geometria Descritiva A','Matemática B',
                                      'Geografia A', 'Literatura Portuguesa', 'Matemática Aplicada às Ciências Sociais',
                                      'Língua Estrangeira III - Inglês', 'Língua Estrangeira I - Francês',
                                      'Língua Estrangeira II - Inglês', 'Língua Estrangeira II - Espanhol',
                                      'Português Língua Não Materna', 'Língua Estrangeira III - Alemão',
                                      'Língua Estrangeira II - Francês', 'Inglês'],
                                     ['Port', 'Foreign_Lang', 'Foreign_Lang',
                                      'Quant', 'Qual', 'Quant', 'Qual', 'Quant',
                                      'Quant', 'Qual', 'Qual', 'Quant','Quant',
                                      'Qual', 'Port', 'Quant',
                                      'Foreign_Lang', 'Foreign_Lang',
                                      'Foreign_Lang', 'Foreign_Lang',
                                      'Foreign_Lang', 'Foreign_Lang',
                                      'Foreign_Lang', 'Foreign_Lang'])

In [110]:
print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

SubjectCod 	 [22306 22216 22222 46105 22502 21004 22601 42102 44003 31403 22503 46102
 46108 44304 22304 46107 22224 22215 22220 22218 22309 22221 22219 22227]
Subject 	 ['Port' 'Foreign_Lang' 'Quant' 'Qual']

In [111]:
ind_Subject = pd.get_dummies(df['Subject'], prefix='SubjClass')
ind_Subject.head()

   SubjClass_Foreign_Lang  SubjClass_Port  SubjClass_Qual  SubjClass_Quant
0                       0               1               0                0
1                       1               0               0                0
2                       1               0               0                0
3                       0               0               0                1
4                       0               1               0                0

In [112]:
ind_Subject1 = ind_Subject.drop('SubjClass_Port', axis=1)
df1 = pd.concat([ind_Subject1, df], axis=1)

In [113]:
df=df1.drop(['Subject'], axis=1)

In [114]:
df_10=df[(df.AcYear_11==0) & (df.AcYear_12==0)]
df_11=df[(df.AcYear_11==1)]
df_12=df[(df.AcYear_12==1)]

In [115]:
print(df.shape)
print(df_10.shape)
print(df_11.shape)
print(df_12.shape)

(96346, 126)
(32706, 126)
(32396, 126)
(31244, 126)

In [116]:
df_10_JOIN=df_10[['Student_ID','School_Year','SubjectCod','FinalMark']]
df_11_JOIN=df_11[['Student_ID','School_Year','SubjectCod','FinalMark']]
df_10_JOIN.rename(columns={'Student_ID':'Student_ID_10','School_Year':'School_Year_10','SubjectCod':'SubjectCod_10',
                             'FinalMark':'FinalMark_10'}, inplace=True)
df_11_JOIN.rename(columns={'Student_ID':'Student_ID_11','School_Year':'School_Year_11','SubjectCod':'SubjectCod_11',
                             'FinalMark':'FinalMark_11'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [117]:
Binarised_Features=['School_Year_10']

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df_10_JOIN[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

School_Year_10 	 ['2015/2016' '2014/2015']

In [118]:
df_10_JOIN['School_Year_10']= df_10_JOIN['School_Year_10'].replace(['2015/2016','2014/2015'],
                                     ['2016/2017','2015/2016'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [119]:
Binarised_Features=['School_Year_11']

print("Unique values per features to be binarised:\n")
for i in Binarised_Features:
    HE_i= df_11_JOIN[i].unique()
    print(i, '\t', HE_i)

Unique values per features to be binarised:

School_Year_11 	 ['2016/2017' '2015/2016' '2014/2015']

In [120]:
df_11_JOIN['School_Year_11']= df_11_JOIN['School_Year_11'].replace(['2016/2017','2015/2016','2014/2015'],
                                     ['2017/2018','2016/2017','2015/2016'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [121]:
df1=pd.merge(df, df_10_JOIN, how='left',
                             left_on=['Student_ID','School_Year', 'SubjectCod'],
                             right_on=['Student_ID_10','School_Year_10', 'SubjectCod_10'],suffixes=(None,None), validate='1:1')
                           

df1=pd.merge(df1, df_11_JOIN,how='left',
                             left_on=['Student_ID','School_Year', 'SubjectCod'],
                             right_on=['Student_ID_11','School_Year_11', 'SubjectCod_11'],suffixes=(None,None), validate='1:1')

In [122]:
print(df1.shape)

(96346, 134)

In [123]:
df1.head()

,SubjClass_Foreign_Lang,SubjClass_Qual,SubjClass_Quant,SES_STDRESP_ProfClass_BasicI,SES_STDRESP_ProfClass_UnivI,SES_STDRESP_ProfClass_UnivII,SES_STDRESP_ProfClass_Unknown_NoProfession,SES_FATH_ProfClass_BasicI,SES_FATH_ProfClass_UnivI,SES_FATH_ProfClass_UnivII,...,FinalMark,N_Retentions,Student_ID_10,School_Year_10,SubjectCod_10,FinalMark_10,Student_ID_11,School_Year_11,SubjectCod_11,FinalMark_11
0,0,0,0,0,0,0,0,0,0,0,...,10.0,1,NaN,NaN,NaN,NaN,1897972.0,2017/2018,22306.0,10.0
1,1,0,0,1,0,0,0,0,0,0,...,10.0,0,NaN,NaN,NaN,NaN,1898139.0,2017/2018,22216.0,12.0
2,1,0,0,0,0,0,1,0,0,0,...,19.0,0,NaN,NaN,NaN,NaN,1900750.0,2017/2018,22222.0,17.0
3,0,0,1,0,0,0,1,0,0,0,...,10.0,0,NaN,NaN,NaN,NaN,1889914.0,2017/2018,46105.0,11.0
4,0,0,0,0,0,0,1,0,0,0,...,13.0,0,NaN,NaN,NaN,NaN,1889914.0,2017/2018,22306.0,15.0

In [124]:
cols=df1.columns.tolist()
len(cols)

134

cols

In [128]:
cols=['Student_ID',
 'AcYear_11',
 'AcYear_12',
 'School_Year',
 'Std_Gender_F',
 'N_Retentions',
 'School_Size',
 'Class_Size',
 'Student_Computer',
 'Student_Internet',
 'Student_NumberEnrolments',
 'Student_ActiveWorking',
 'Student_Parish',
 'Student_County',
 'STD_Resp_CloseRelative',
 'STD_Resp_Father',
 'STD_Resp_Himself',
 'STD_Resp_LegalResp',
 'FTH_Nation_AFR',
 'FTH_Nation_BR',
 'FTH_Nation_CHN',
 'FTH_Nation_EEUR',
 'FTH_Nation_OTHERS',
 'FTH_Nation_RICH',
 'SES_STDRESP_ProfClass_BasicI',
 'SES_STDRESP_ProfClass_UnivI',
 'SES_STDRESP_ProfClass_UnivII',
 'SES_STDRESP_ProfClass_Unknown_NoProfession',
 'SES_FATH_ProfClass_BasicI',
 'SES_FATH_ProfClass_UnivI',
 'SES_FATH_ProfClass_UnivII',
 'SES_FATH_ProfClass_Unknown_NoProfession',
 'SES_MOTH_ProfClass_BasicI',
 'SES_MOTH_ProfClass_UnivI',
 'SES_MOTH_ProfClass_UnivII',
 'SES_MOTH_ProfClass_Unknown_NoProfession',
 'SES_STDRESP_JobSit_Employer',
 'SES_STDRESP_JobSit_HomeAffairs',
 'SES_STDRESP_JobSit_Other',
 'SES_STDRESP_JobSit_Retired',
 'SES_STDRESP_JobSit_SelfEmployed',
 'SES_STDRESP_JobSit_Student',
 'SES_STDRESP_JobSit_Unemployed',
 'SES_STDRESP_JobSit_Unknown',
 'SES_FATH_JobSit_Employer',
 'SES_FATH_JobSit_HomeAffairs',
 'SES_FATH_JobSit_Other',
 'SES_FATH_JobSit_Retired',
 'SES_FATH_JobSit_SelfEmployed',
 'SES_FATH_JobSit_Student',
 'SES_FATH_JobSit_Unemployed',
 'SES_FATH_JobSit_Unknown',
 'SES_MOTH_JobSit_Employer',
 'SES_MOTH_JobSit_HomeAffairs',
 'SES_MOTH_JobSit_Other',
 'SES_MOTH_JobSit_Retired',
 'SES_MOTH_JobSit_SelfEmployed',
 'SES_MOTH_JobSit_Student',
 'SES_MOTH_JobSit_Unemployed',
 'SES_MOTH_JobSit_Unknown',
 'SES_STDRESP_AcadEduc_Bachelor',
 'SES_STDRESP_AcadEduc_Basic_I',
 'SES_STDRESP_AcadEduc_Basic_II',
 'SES_STDRESP_AcadEduc_Basic_III',
 'SES_STDRESP_AcadEduc_Degree',
 'SES_STDRESP_AcadEduc_Master',
 'SES_STDRESP_AcadEduc_NoFormalEducation',
 'SES_STDRESP_AcadEduc_Other',
 'SES_STDRESP_AcadEduc_Phd',
 'SES_STDRESP_AcadEduc_PostGraduation',
 'SES_STDRESP_AcadEduc_Unknown',
 'SES_FATH_AcadEduc_Bachelor',
 'SES_FATH_AcadEduc_Basic_I',
 'SES_FATH_AcadEduc_Basic_II',
 'SES_FATH_AcadEduc_Basic_III',
 'SES_FATH_AcadEduc_Degree',
 'SES_FATH_AcadEduc_Master',
 'SES_FATH_AcadEduc_NoFormalEducation',
 'SES_FATH_AcadEduc_Other',
 'SES_FATH_AcadEduc_Phd',
 'SES_FATH_AcadEduc_PostGraduation',
 'SES_FATH_AcadEduc_Unknown',
 'SES_MOTH_AcadEduc_Bachelor',
 'SES_MOTH_AcadEduc_Basic_I',
 'SES_MOTH_AcadEduc_Basic_II',
 'SES_MOTH_AcadEduc_Basic_III',
 'SES_MOTH_AcadEduc_Degree',
 'SES_MOTH_AcadEduc_Master',
 'SES_MOTH_AcadEduc_NoFormalEducation',
 'SES_MOTH_AcadEduc_Other',
 'SES_MOTH_AcadEduc_Phd',
 'SES_MOTH_AcadEduc_PostGraduation',
 'SES_MOTH_AcadEduc_Unknown',
 'SES_Scholarship_Full_Support',
 'SES_Scholarship_Half_Support',
 'SES%_Parish_FamilyNoClassicDwellings',
 'SES%_Parish_CollectiveDwellings',
 'SES%_Parish_IliteracyRate',
 'SES%_Parish_PostSecondarySchoolingRate',
 'SES%_Parish_PrimarySector',
 'SES%_Parish_SecondarySector',
 'SES%_Parish_UnemploymentRate',
 'Tch_FixedTermStaff',
 'Tch_PedagogicZoneDefinitivePermanentStaff',
 'Tch_PedagogicZoneNoDefinitivePermanentStaff',
 'Tch_SchoolClusterDefinitivePermanentStaff',
 'Tch_SchoolClusterNoDefinitivePermanentStaff',
 'Tch_SchoolNoDefinitivePermanentStaff',
 'Tch_AcadEduc_Bachelor',
 'Tch_AcadEduc_Other',
 'Tch_AcadEduc_Phd_Master',
 'Tch_Step_1234',
 'Tch_Step_567',
 'Tch_Step_8910',
 'Tch_Gender_F',
 'Teacher_TemporaryReplacement',
 'Teacher_EducationSupport',
 'Teacher_Age',
 'Teacher_TeachingDedicatedTime',
 'Teacher_NoTeachingDedicatedTime',
 'Teacher_EducationSupportDedicatedTime',
 'SubjectCod',
 'SubjClass_Foreign_Lang',
 'SubjClass_Qual',
 'SubjClass_Quant',
 'Student_ID_10',
 'School_Year_10',
 'SubjectCod_10',
 'Student_ID_11',
 'School_Year_11',
 'SubjectCod_11',
 'FinalMark_10',
 'FinalMark_11',
 'FinalMark']

In [129]:
df1=df1.reindex(columns=cols)

In [130]:
df1.to_excel("DSPREP.xlsx", sheet_name='DATASET')