# DATASET SPLIT

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import math

In [2]:
seed=42
kf=4

In [3]:
df = pd.read_excel("DSPREP.xlsx")

In [4]:
df=df.drop(['Unnamed: 0', 'Student_ID', 'School_Year', 'SubjectCod','Student_ID_10', 'School_Year_10', 'SubjectCod_10',
           'Student_ID_11', 'School_Year_11', 'SubjectCod_11',], axis=1)

In [5]:
df.shape

(96346, 125)

In [6]:
X = df.iloc[:,:124]
Y = df.iloc[:,-1]

In [7]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.3, random_state=seed,

                                                  stratify=(X['AcYear_11'] & X['AcYear_12']))

In [8]:
df1_train = pd.concat([X_train, Y_train], axis=1)
df1_test = pd.concat([X_test, Y_test], axis=1)

In [9]:
df1_train.head()

,AcYear_11,AcYear_12,Std_Gender_F,N_Retentions,School_Size,Class_Size,Student_Computer,Student_Internet,Student_NumberEnrolments,Student_ActiveWorking,...,Teacher_Age,Teacher_TeachingDedicatedTime,Teacher_NoTeachingDedicatedTime,Teacher_EducationSupportDedicatedTime,SubjClass_Foreign_Lang,SubjClass_Qual,SubjClass_Quant,FinalMark_10,FinalMark_11,FinalMark
55351,0,1,0,0,1386,35,1,1,1,0,...,57,6,21,0,0,0,1,NaN,11.0,11
20788,0,0,1,0,1658,27,1,1,1,0,...,55,16,8,0,0,0,0,NaN,NaN,14
30969,0,0,1,0,1658,30,1,1,1,0,...,50,18,6,0,0,0,1,NaN,NaN,16
3394,1,0,0,0,637,26,1,1,1,0,...,55,22,0,0,0,0,0,16.0,NaN,17
28030,0,1,1,0,676,26,1,1,1,0,...,53,20,1,1,0,0,0,NaN,11.0,12

In [10]:
df_10_train = df1_train[(df1_train.AcYear_11==0) & (df1_train.AcYear_12==0)]
df_10_test = df1_test[(df1_test.AcYear_11==0) & (df1_test.AcYear_12==0)]

In [11]:
df_10_train.shape

(22913, 125)

In [12]:
df_10_test.shape

(9793, 125)

df_10_train.head()

In [13]:
df_10_train=df_10_train.drop(['FinalMark_11','FinalMark_10'], axis=1)
df_10_test=df_10_test.drop(['FinalMark_11','FinalMark_10'], axis=1)

In [14]:
df_10=pd.concat([df_10_train, df_10_test], axis=0)

In [15]:
df_10.to_excel('X10Y10_CONC.xlsx', sheet_name='X10Y10')
df_10_train.to_excel('X10Y10_train.xlsx', sheet_name='X10Y10_train')
df_10_test.to_excel('X10Y10_test.xlsx', sheet_name='X10Y10_test')

In [16]:
df_11_train = df1_train[(df1_train.AcYear_11==1) & (df1_train.AcYear_12==0)]
df_11_test = df1_test[(df1_test.AcYear_11==1) & (df1_test.AcYear_12==0)]

In [17]:
df_11_train=df_11_train.drop(['FinalMark_11'], axis=1)
df_11_test=df_11_test.drop(['FinalMark_11'], axis=1)

In [18]:
df_1110_train=df_11_train
df_1110_test=df_11_test

In [19]:
df_1110_train.dropna(inplace=True)
df_1110_test.dropna(inplace=True)

df_1110_train.head()

In [20]:
df_1110_train.to_excel('X1110Y11_train.xlsx', sheet_name='X1110Y11_train')
df_1110_test.to_excel('X1110Y11_test.xlsx', sheet_name='X1110Y11_test')

In [21]:
df_11_train=df_11_train.drop(['FinalMark_10'], axis=1)
df_11_test=df_11_test.drop(['FinalMark_10'], axis=1)

In [22]:
df_11_train.to_excel('X11Y11_train.xlsx', sheet_name='X11Y11_train')
df_11_test.to_excel('X11Y11_test.xlsx', sheet_name='X11Y11_test')

In [23]:
df_12_train = df1_train[(df1_train.AcYear_11==0) & (df1_train.AcYear_12==1)]
df_12_test = df1_test[(df1_test.AcYear_11==0) & (df1_test.AcYear_12==1)]

In [24]:
df_12_train=df_12_train.drop(['FinalMark_10'], axis=1)
df_12_test=df_12_test.drop(['FinalMark_10'], axis=1)

In [25]:
df_1211_train=df_12_train
df_1211_test=df_12_test

In [26]:
df_1211_train.dropna(inplace=True)
df_1211_test.dropna(inplace=True)

In [27]:
df_1211_train.to_excel('X1211Y12_train.xlsx', sheet_name='X1211Y12_train')
df_1211_test.to_excel('X1211Y12_test.xlsx', sheet_name='X1211Y12_test')

In [28]:
df_12_train=df_12_train.drop(['FinalMark_11'], axis=1)
df_12_test=df_12_test.drop(['FinalMark_11'], axis=1)

In [29]:
df_12_train.to_excel('X12Y12_train.xlsx', sheet_name='X12Y12_train')
df_12_test.to_excel('X12Y12_test.xlsx', sheet_name='X12Y12_test')